<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>audio</title>
	<link rel="stylesheet" href="./stylesheets/bang-audio.css">
	<script src="javascripts/jquery.min.js"></script>
	<style>
		

		html, body {
		  height: 100%;
		}

		body {
		  background: lightblue;
		  box-sizing: content-box;
		}

		
	</style>
</head>
<body>
<div style="height: 200px;"></div>
	<div id="app"></div>
</body>
<script src='./javascripts/bang-audio.js'></script>
<script>
	BANG_audio.init($("#app"),[{
		url:[
			'./mp3/m.mp3'
		],
		download: false,
		rate: true
	},{
		url:[
			'./mp3/红昭愿.mp3'
		],
		download: true,
		rate: true
	}]);
</script>
</html>